html,
body {
  background-image: none;
  @import url("https://fonts.googleapis.com/css?family=Lato:400|Indie+Flower");
  font-family: 'Lato', "Helvetica Neue", Arial, sans-serif;
  font-size: 0.9em;
  color: #333333;
}

.chatbot .msg {
  background: #3469ca;
  color: white;

  .time {
    color: white;
  }
}

.msg {
  border: 1px solid #d2d2d2;
}

a.banner {
  display: none;
}

.btn {
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  background-color: #ca3469;
  color: white;
}

