// Fonts
@import url("https://fonts.googleapis.com/css?family=Lato:400");
@import "about_me";
@import "cv";
@import "nav";

body {
  margin: 0;
  font-family: "Lato";
  font-size: 0.9em;
  background-color: #E3E3E3;
  letter-spacing: 0.02em;
  overflow-y: scroll;
  line-height: 1.5em;
}

.container {
  display: flex;
  align-content: center;
  min-height: 600px;
}

section.left {
  flex: 1;
  text-align: center;
  background-color: #000000;
}

section.right {
  flex: 3;
}

div.left-top {
  padding: 50px 10px;
  color: #FFFFFF;
}

div.left-title {
  margin-bottom: 20px;
  font-size: 2.5em;
  font-weight: 700;
}

div.left-desc {
  font-style: italic;
  font-size: 1.2em;
}

div.content {
  padding: 0 20px 20px 20px;
}

div.main-title {
  padding: 20px 0 20px 0;
  font-size: 1.6em;
  color: #F84761;
  font-weight: 700;
}

div.main-desc {
  padding: 0 10px 10px 10px;
  font-style: italic;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div.button-container {
  margin: 10px 0;
  text-align: center;

  a {
    padding: 10px;
    border-radius: 6px;
    margin: 10px 1% 10px 1%;
    display: inline-block;
    text-align: center;
    background-color: #439DFD;
    color: #FFFFFF;
    min-height: 20px;
    text-transform: uppercase;

  }
  a:hover {
    background-color: #F84761;
    text-decoration: none;
    color: #000000;
  }
}

