
nav {
  background-color: $blue;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  list-style-type: none;
  display: inline-block;
}

.navbar-light .navbar-nav .nav-link {
  color: #FFFFFF;
  padding: 10px 20px;
  font-size: 1.1em;
  margin: 0 20px;
  border-radius: 5px;
}

nav a:hover,
nav li.active a:hover {
  color: #FFFFFF;
  background-color: $pink;
  text-decoration: none;
}

nav li.active a {
  background-color: #000000;
  color: #FFFFFF;
}