.resource {
  margin-bottom: 20px;
}

.badges-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.badge {
  margin: 0 10px 10px 10px;
  text-align: center;

  img {
    width: 100px;
  }
}