.welcome {
  .col {
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      text-align: center;

      span {
        display: none;
        font-size: 2.0em;
        color: $pink;
        background-color: #000000;
        padding: 5px 0;
        width: 100%;
        font-family: 'Indie Flower', cursive;
      }
    }

    a:hover {
      text-decoration: none;
    }
  }

  .col:hover {
    opacity: 0.8;
  }

  .about-me {
    background-image: url('/images/about-me.jpg');
    background-position: center center;
  }

  .cv {
    background-image: url('/images/cv.png');
    background-position: bottom right;
  }

  .resources {
    background-image: url('/images/resources.png');
    background-position: bottom left;
  }
}